body {
    margin: 0px;
    padding: 0px;
}

.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 2%;
}

.search form {
    height: 32px;
    margin: 0 0px;
    display: flex;
    width: 100%;
    grid-template-columns: auto 65px;
    justify-content: stretch;
}

.search form input {
    padding-left: 10px;
    font-size: 14px;
    border: 1px solid rgb(177, 177, 177);
    border-radius: 2px 0 0 2px;
    width: 100%;
    vertical-align: middle;
}

.search form button {
    border-radius: 0 2px 2px 0;
    background: rgb(247, 247, 247);
    border: 1px solid rgb(175, 175, 175);
    border-left: none;
    border-radius: 0 2px 2px 0;
    cursor: pointer;
}

.search form button a {
    margin: 0;
    height: 20px;
    width: 20px;
    align-self: center;
}

svg {
    fill: rgb(95, 95, 95);
    max-height: 24px;
    max-width: 24px;
}

.left-icons{
    display: flex; 
    align-content: flex-start;
    align-items: center;
}

.search{
	display: inline-flex;
	align-items: center;
    width: 40vw;
    margin-right: 5%;
    margin-left: 10%;
    margin-top: 0%;
}

.right-icons{
    display: flex;
    align-content: flex-end;
    align-items: center;
}

.icons{
    margin: 20px;
}

#content{
    display: flex;
    justify-content: center;
}

#left-content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: blue;
    width: 65vw; /*proportion of the column */
    padding-top: 25px;
    margin-left: 25px;
    padding-right: 25px;
}

#right-content{
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   background-color: green;
   width: 35vw;
   padding-top: 25px;
   margin-left: 25px;
   padding-right: 25px;
}

#up-next-autoplay{
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-family: Roboto, Arial, sans-serif;
    font-size: 16px;
    line-height: 20px; 
    color: #0d0d0d;    
}

a{
    text-decoration: none;
    color: black;
}
.video-content{
    display: inline-flex;
}

.metadata{
    padding-left: 5%;
}

.metadata span{
    font-weight: bold;
}

.metadata div{
    font-weight: normal;
    color: grey;
}

.video-thumbnail{
    margin-bottom: 8px;
}

h3 {
    font-family: Roboto, Arial, sans-serif;
    font-size: 18px;
    color: #0d0d0d;
    line-height: 24px;
}
.views-likes {
    display: inline-flex;
    justify-content: space-between;
    width: 790px;

}
.imgs-letters {
    display: flex;
    flex-direction: row;

}

.imgs-letters h3 {
    font-family: Roboto, Arial, sans-serif;
    font-size: 18px;
    text-align: start;
    line-height: 18px;
    margin-left: 10px;
}

.imgs-letters p {
    font-family: Roboto, Arial, sans-serif;
    font-size: 12px;
    text-align: start;
    line-height: 18px;
    margin: 0 0 0 10px;
    color: lightgray;

}